<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Your Cell</title>
    <link rel="stylesheet" href="static/indexcss.css">
</head>
<body>
    <div class="container">
        <h1>Get Your Cell</h1>
        <p>Unissez vos forces et défiez l'intelligence artificielle dans ce jeu de stratégie immersif. Votre objectif : dominer plus de cases que votre adversaire. Bonne chance !</p>
        <button class="play-btn" onclick="startGame()">Jouer</button>
    </div>
    <script src="static/indexscript.js"></script>
</body>
</html>
