<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/gamestyle.css">
    <title>Grille 5x5</title>

</head>
<body>
    <table>
        <tbody>
            <!-- Boucle pour créer une grille 5x5 -->
            <script>
                for (let i = 0; i < 5; i++) {
                    document.write('<tr>');
                    for (let j = 0; j < 5; j++) {
                        document.write('<td></td>');
                    }
                    document.write('</tr>');
                }
            </script>
        </tbody>
    </table>
</body>
</html>
