<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/webstyle.css">
    <title>Game</title>
</head>
<body>
    <h1>Welcome to Train your AI</h1>
    <button onclick="window.location.href='game'">Join the game</button>
    <div class="introduction">
        Train your AI is a board game where you need to fill more squares than the opponent. We used this game to train our first AI project based on machine learning.
        Github repository : https://github.com/Jabran-Ellaoui/projet-IA
    </div>
</body>
</html>